<div class="header">
  <div class="title_logo">
    <%= link_to "QuizZone", "#", class: :logo %>
  </div>
</div>

<div class="main">

  <div class="side_bar">
    <div>
    ランダム
    </div>
    <div>
    新着
    </div>
  </div>

  <div class="quiz_content">
  新着クイズ
    <div class="quiz_lists">
      <div class="list">
      クイズ
      </div>
      <div class="list">
      クイズ
      </div>
      <div class="list">
      クイズ
      </div>
      <div class="list">
      クイズ
      </div>
      <div class="list">
      クイズ
      </div>
      <div class="list">
      クイズ
      </div>
    </div>
  </div>

</div>

<div class="footer">
</div>